<div class="accordion-container">
	<div class="ac">
		<h2 class="ac-header">
			<button type="button" class="ac-trigger">Title</button>
		</h2>
		<div class="ac-panel">
			<p class="ac-text">Inside</p>
		</div>
	</div>
	<div class="ac">
		<h2 class="ac-header">
			<button type="button" class="ac-trigger">Title</button>
		</h2>
		<div class="ac-panel">
			<p class="ac-text">Inside</p>
		</div>
	</div>
	<div class="ac">
		<h2 class="ac-header">
			<button type="button" class="ac-trigger">Title</button>
		</h2>
		<div class="ac-panel">
			<p class="ac-text">Inside</p>
		</div>
	</div>
</div>